<div class="flex items-center justify-center min-h-[calc(100vh-80px)] bg-center bg-no-repeat page-bg">
    <div class="kt-card max-w-[370px] w-full">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="kt-card-content flex flex-col gap-5 p-10" id="reset_password_change_password_form">
            <div class="text-center">
                <h3 class="text-lg font-medium text-mono">
                    {{ 'MODULES.RESET_PASSWORD.TITLE' | translate }}
                </h3>
                <span class="text-sm text-secondary-foreground">
          {{ 'MODULES.RESET_PASSWORD.SUBTITLE' | translate }}
        </span>
            </div>

            <!-- Champ Nouveau mot de passe -->
            <div class="flex flex-col gap-1">
                <label class="kt-form-label text-mono">
                    {{ 'MODULES.RESET_PASSWORD.FIELDS.NEW_PASSWORD' | translate }}
                </label>
                <label class="kt-input" data-kt-toggle-password="true">
                    <input
                            formControlName="newPassword"
                            [ngClass]="{'is-invalid': isFieldInvalid('newPassword')}"
                            [placeholder]="'MODULES.RESET_PASSWORD.PLACEHOLDERS.NEW_PASSWORD' | translate"
                            type="password"/>
                    <div class="kt-btn kt-btn-sm kt-btn-ghost kt-btn-icon bg-transparent! -me-1.5" data-kt-toggle-password-trigger="true">
                            <span class="kt-toggle-password-active:hidden">
                              <i class="ki-filled ki-eye text-muted-foreground"></i>
                            </span>
                            <span class="hidden kt-toggle-password-active:block">
                              <i class="ki-filled ki-eye-slash text-muted-foreground"></i>
                            </span>
                    </div>
                </label>
                <div *ngIf="isFieldInvalid('newPassword')" class="text-red-500 text-sm mt-1">
                    <div *ngIf="formValues['newPassword'].errors?.['required']">
                        {{ 'MODULES.RESET_PASSWORD.ERRORS.REQUIRED' | translate }}
                    </div>
                    <div *ngIf="formValues['newPassword'].errors?.['pattern']">
                        {{ 'MODULES.RESET_PASSWORD.ERRORS.INVALID_PATTERN' | translate }}
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-1">
                <label class="kt-form-label font-normal text-mono">
                    {{ 'MODULES.RESET_PASSWORD.FIELDS.CONFIRM_PASSWORD' | translate }}
                </label>
                <label class="kt-input" data-kt-toggle-password="true">
                    <input
                            formControlName="password"
                            [ngClass]="{'is-invalid': isFieldInvalid('password')}"
                            [placeholder]="'MODULES.RESET_PASSWORD.PLACEHOLDERS.CONFIRM_PASSWORD' | translate"
                            type="password"/>
                    <div class="kt-btn kt-btn-sm kt-btn-ghost kt-btn-icon bg-transparent! -me-1.5" data-kt-toggle-password-trigger="true">
                        <span class="kt-toggle-password-active:hidden">
                          <i class="ki-filled ki-eye text-muted-foreground"></i>
                        </span>
                        <span class="hidden kt-toggle-password-active:block">
                          <i class="ki-filled ki-eye-slash text-muted-foreground"></i>
                        </span>
                    </div>
                </label>
                <div *ngIf="isFieldInvalid('password')" class="text-red-500 text-sm mt-1">
                    <div *ngIf="formValues['password'].errors?.['required']">
                        {{ 'MODULES.RESET_PASSWORD.ERRORS.REQUIRED' | translate }}
                    </div>
                    <div *ngIf="form.errors?.['passwordMismatch'] && submitted">
                        {{ 'MODULES.RESET_PASSWORD.ERRORS.PASSWORD_MISMATCH' | translate }}
                    </div>
                </div>
            </div>

            <button type="submit" class="kt-btn kt-btn-primary flex justify-center grow">
                {{ 'MODULES.RESET_PASSWORD.SUBMIT' | translate }}
            </button>
        </form>
    </div>
</div>