<!-- Theme Mode -->
<div class="antialiased flex h-full text-base text-foreground bg-background">
    <div class="grid lg:grid-cols-2 grow">
        <div class="flex justify-center items-center p-8 lg:p-10 order-2 lg:order-1">
            <div class="kt-card max-w-[500px] w-full">

                <form [formGroup]="form"
                      (ngSubmit)="onSubmit()"
                      class="kt-card-content flex flex-col gap-5 p-10"
                      id="forgot_password_enter_email_form">

                    <div class="text-center">
                        <h3 class="text-lg font-medium text-mono">
                            {{ 'MODULES.RESET_PASSWORD.TITLE' | translate }}
                        </h3>
                        <span class="text-sm text-secondary-foreground">
           {{ 'MODULES.RESET_PASSWORD.PLACEHOLDERS.EMAIL' | translate }}
        </span>
                    </div>

                    <div class="flex flex-col gap-1">
                        <label class="kt-form-label font-normal text-mono">
                            {{ 'MODULES.RESET_PASSWORD.FIELDS.EMAIL' | translate }}
                        </label>
                        <input
                                formControlName="email"
                                class="kt-input"
                                [placeholder]="'MODULES.RESET_PASSWORD.PLACEHOLDERS.EMAIL' | translate"
                                type="text"
                                value="" />
                    </div>

                    <button type="submit" class="kt-btn kt-btn-primary flex justify-center grow">
                        {{ 'MODULES.RESET_PASSWORD.SUBMIT' | translate }}
                        <i class="ki-filled ki-black-right"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="relative lg:rounded-xl lg:border lg:border-border lg:m-5 order-1 lg:order-2 bg-top xl:bg-cover bg-no-repeat branded-bg overflow-hidden">

            <div class="flex flex-col items-center justify-center text-center text-white h-full p-8 lg:p-16">
                <h2 class="text-3xl md:text-5xl lg:text-6xl font-bold tracking-tight leading-tight drop-shadow-lg mb-4 text-primary">
                    {{ 'MODULES.LOGIN.SLOGAN' | translate }}
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- End of Page -->













