<footer class="py-3">
  <div class="kt-container-fluid">
    <div class="flex flex-col md:flex-row justify-center md:justify-between items-center gap-3 py-2">
      <div class="flex order-2 md:order-1 gap-2 font-normal text-sm">
          <span class="text-muted-foreground">
           {{ currentDate | date: 'yyyy' }}©
          </span>
        <a class="text-secondary-foreground hover:text-primary" href="https://bi-newvision.com/">
          BI NEWVISION.
        </a>
      </div>
      <nav class="flex order-1 md:order-2 gap-4 font-normal text-sm text-secondary-foreground">
        <a class="hover:text-primary" href="javascript:void(0);">
          Documentation
        </a>
          |
        <a class="hover:text-primary" href="javascript:void(0);">
          Support
        </a>
        |
        <a class="">
          Version 1.0.0
        </a>
      </nav>
    </div>
  </div>
  <!-- End of Container -->
</footer>
